username: 'your name'
passwd: 'your password'

# 第几个问题, 数字1-7 (仅在设置了登录问题验证时, 才需填写)
question_id: 0
# 问题答案 (仅在设置了登录问题验证时, 才需填写)
answer: 'your answer'

# 每日几点几分开始运行(00:00 ~ 23:59), 可选, 如果不设置会随机选取一个时间
login_time: '08:00'